$fontSize1: 64px;
$fontSize2: 48px;
$fontSize3: 24px;
$fontDefault: 16px;

$corDefault: #000;
$corDestaque1: #4caf50;
$corDestaque2: #2196f3;
$corDestaque3: #f44336;
$corInversa: #fff;

$fundo1: #fff;
$fundo2: #f1f1f1;
$fundo3: #616161;
$fundo4: #f44336;
$fundo5: #000;
$fundo6: #4cAf50;

$fontFamilyPadrao: "Poppins", sans-serif;